@import 'tailwindcss';

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / 舊 Edge */
body {
  -ms-overflow-style: none;
}

html {
  overflow: overlay;
}
